/* Estilos personalizados */
body { 
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0;
}

.weather-bg {
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
}

/* Opcional: Estilo para la scrollbar del pronóstico */
#forecast-container::-webkit-scrollbar {
    height: 4px;
}
#forecast-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}